/* .form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  display: flex;
  justify-content: center;
} */
.form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit button {
  background-color: #0077c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit button:hover {
  background-color: #005fa3;
}
